/* App.css or index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.mantine-Stepper-step {
    all: unset;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  font-family: 'Rubik', sans-serif !important;
}


/* Remove scrollbar background and arrows */
::-webkit-scrollbar {
width: 8px;
height: 8px;
background: transparent; /* Remove background */
}

::-webkit-scrollbar-track {
background: transparent; /* No track background */
}

::-webkit-scrollbar-thumb {
background-color: #023336; /* Scrollbar color */
border-radius: 10px;
border: 1px solid transparent; /* Space around thumb */
}

::-webkit-scrollbar-thumb:hover {
background: #045056; /* Hover effect */
}

/* Hide scrollbar buttons (arrows) */
::-webkit-scrollbar-button {
display: none;
}

/* Hide scrollbars completely on mobile devices */
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
  
  /* For Firefox */
  * {
    scrollbar-width: none;
  }
  
  /* For IE and Edge */
  * {
    -ms-overflow-style: none;
  }
}
